/*  セレクター*/
*{        
    /* プロパティー：値 */
    padding:0;
    margin:0;
}

.container{
    width: 100%;
    height: 500px;
    border: 1px solid black;
    display:flex;
    /* flex-direction: row; */
    /*  flex-directionの値がrowの時、横の配置を決める*/
    
    /* すべて均等に並ぶ */
    /* justify-content: space-evenly; */
   
    /* 両橋の隙間は各要素の幅の半分 */
    /* justify-content:space-around; */
   
    /* 両端の隙間はなし */
    /* justify-content:space-between: */

    /* justify-content: flex-start */
    /* flex-directionの値がrowの時 、縦の配置を決まる*/
    
    justify-content: center;
    
    align-items: center;
}

.box{
    width: 150px;
    height: 150px;
    border: 1px solid black;
}